// Main colors
$mainFontColor: #f8c343;
$accentFontColor: #ca8f00;
$backgroundColor: $mainFontColor;
$cardColor: #f7f7f7;

// Border radius
$borderRadius: 30px;

// Small Screen Font Size
$mainTitleFontSize: 45px;
$yearTitleFontSize: 20px;
$pFontSize: 15px;
